<!DOCTYPE RCC><RCC version="1.0">
<qresource prefix="/icons">
    <!-- Standard placeholders -->
    <file>document-new.svg</file>
    <file>document-open.svg</file>
    <file>application-exit.svg</file>
    <file>package-x-generic.svg</file>
    <file>system-run.svg</file>
    <file>edit-clear.svg</file>
    <file>utilities-terminal.svg</file>
    <file>system-launch.svg</file>
    <file>process-stop.svg</file>
    <file>view-refresh.svg</file>
    <file>edit-find.svg</file>
    <file>folder.svg</file>
    <file>text-x-generic.svg</file>
    <!-- Activity Bar -->
    <file>activity-home.svg</file>
    <file>activity-explorer.svg</file>
    <file>activity-ros-tools.svg</file>
    <file>activity-run-debug.svg</file>
    <file>activity-ai-assistant.svg</file>
    <file>activity-search.svg</file>
    <file>activity-extensions.svg</file>
    <file>activity-settings.svg</file>
    <!-- ROS Tools Sidebar -->
    <file>ros-tools-overview.svg</file>
    <file>ros-tools-create-new.svg</file>
    <file>ros-tools-workspace-mgmt.svg</file>
    <file>ros-tools-introspection.svg</file>
    <file>ros-tools-simulation.svg</file>
    <file>wizard-workspace.svg</file>
    <file>wizard-package.svg</file>
    <file>wizard-node.svg</file>
    <file>wizard-interface.svg</file>
    <file>wizard-launch-file.svg</file>
    <file>wizard-param-file.svg</file>
    <file>manage-dependencies.svg</file>
    <file>configure-build.svg</file>
    <file>viz-ros-graph.svg</file>
    <file>viz-topic-monitor.svg</file>
    <file>viz-service-explorer.svg</file>
    <file>viz-action-explorer.svg</file>
    <file>viz-param-browser.svg</file>
    <file>viz-tf-tree.svg</file>
    <file>viz-ros-doctor.svg</file>
    <file>sim-gazebo.svg</file>
    <file>sim-rviz.svg</file>
    <!-- General UI & Toolbar -->
    <file>file-new.svg</file>
    <file>file-open.svg</file>
    <file>file-save.svg</file>
    <file>file-save-as.svg</file>
    <file>file-close.svg</file>
    <file>edit-undo.svg</file>
    <file>edit-redo.svg</file>
    <file>edit-cut.svg</file>
    <file>edit-copy.svg</file>
    <file>edit-paste.svg</file>
    <file>action-build.svg</file>
    <file>action-clean.svg</file>
    <file>action-run.svg</file>
    <file>action-launch.svg</file>
    <file>action-stop.svg</file>
    <file>action-debug.svg</file>
    <file>nav-refresh.svg</file>
    <file>nav-back.svg</file>
    <file>nav-next.svg</file>
    <file>nav-finish.svg</file>
    <file>nav-cancel.svg</file>
    <file>view-zoom-in.svg</file>
    <file>view-zoom-out.svg</file>
    <file>view-filter.svg</file>
    <file>action-add.svg</file>
    <file>action-remove.svg</file>
    <file>action-edit.svg</file>
    <!-- Explorer File/Folder Types -->
    <file>type-workspace.svg</file>
    <file>type-package.svg</file>
    <file>type-package-python.svg</file>
    <file>type-package-cmake.svg</file>
    <file>type-folder.svg</file>
    <file>type-folder-src.svg</file>
    <file>type-folder-launch.svg</file>
    <file>type-folder-config.svg</file>
    <file>type-folder-include.svg</file>
    <file>type-folder-msg.svg</file>
    <file>type-folder-srv.svg</file>
    <file>type-folder-action.svg</file>
    <file>type-file-python.svg</file>
    <file>type-file-cpp.svg</file>
    <file>type-file-hpp.svg</file>
    <file>type-file-launch.svg</file>
    <file>type-file-xml.svg</file>
    <file>type-file-cmake.svg</file>
    <file>type-file-yaml.svg</file>
    <file>type-file-msg.svg</file>
    <file>type-file-srv.svg</file>
    <file>type-file-action.svg</file>
    <file>type-file-text.svg</file>
    <!-- Miscellaneous -->
    <file>status-success.svg</file>
    <file>status-error.svg</file>
    <file>status-warning.svg</file>
    <file>status-info.svg</file>
    <file>status-connected.svg</file>
    <file>status-disconnected.svg</file>
    <file>ai-suggestion.svg</file>
</qresource>
</RCC>
